{% extends "main.html" %}

    {% block body %}

    <h3>My Schedules</h3>

    <div class="container">
        {% for item in schedules %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                      <div class="media-left">
                          {% if item.type in ['jpg', 'png'] %}
                            <img class="media-object" src="{{item.url}}" width="200px">
                            </img>
                          {% else %}
                            <video class="media-object" src="{{item.url}}" controls="true" width="200px">
                            </video>
                          {% endif %}
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{item.title}}</h4>
                        {{ item.description }}
                          <br><br>
                        <a href="/deleteMedia?mediaURL={{item.url}}">Delete</a>
                      </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <hr>
    <h3>Add New Schedule</h3>
    <br>
    <form action="" method="post" enctype="multipart/form-data" id="scheduleForm" class="form-inline">
        <table>
            <tr>
                <td>{{form.playerMac.label}}</td>
                <td>{{ form.playerMac }}</td>
            </tr>
            <tr>
                <td>{{form.startDT.label}}</td>
                <td>{{form.startDT}}</td>
            </tr>
            <tr>
                <td>{{form.endDT.label}}</td>
                <td>{{form.endDT}}</td>
            </tr>
            <tr>
                <td>{{form.content.label}}</td>
                <td>{{ form.content }}</td>
            </tr>
            <tr>
                <td>{{ form.submit }}</td>
            </td>
        </table>

    </form>


{% endblock %}